<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button animation="nav-title-slide-ios7"></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>

  </ion-list> -->
  <ion-card *ngFor="let feature of $calcOptions" (click)="goToPage(feature.path)" [routerLink]="[feature.path]">

    <ion-card-header>
      {{feature.title}}
    </ion-card-header>
  
    <ion-card-content>
      {{feature.desc}}
    </ion-card-content>
  
  </ion-card>
</ion-content>
<!-- 
<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>
      <p>some menu content, could be list items</p>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav> -->
